In [22]:
import pandas as pd
import requests
import json
from pathlib import Path
from pprint import pprint

In [23]:
filepath = Path("Resources/Aviation_Accident.csv")
Aviation_Accident_df = pd.read_csv(filepath, encoding="ISO-8859-1")

In [24]:
Aviation_Accident_df.head()

,Unnamed: 0,acc. date,type,operator,fat.,location,dmg
0,3,7 Jan 1972,Sud Aviation SE-210 Caravelle VI-R,Iberia,104,ca 15 km W of Ibiza Airport (IBZ),dst
1,56,14 Mar 1972,Sud Aviation SE-210 Caravelle 10B3,Sterling Airways,112,ca 20 km W of Kalba,dst
2,109,5 May 1972,Douglas DC-8-43,Alitalia,115,5 km SW of Palermo,dst
3,124,18 May 1972,Antonov An-10A,Aeroflot / Ukraine,122,24 km from Kharkov Airport (HRK),dst
4,148,14 Jun 1972,Douglas DC-8-53,Japan Air Lines - JAL,86,ca 20 km E of Delhi-Palam Airport (DEL),dst

In [5]:


# Build URL using the geocode endpoint
base_url = "https://www.mapquestapi.com/geocoding/v1/address"

In [9]:
params = {
    "key": "vM1pBdZGqVAGKqpVoKq5ZjTjT16JOmf9",
    "location": "ca 15 km W of Ibiza Airport (IBZ)"
        
    }
response = requests.get(base_url, params=params).json()
pprint(response)

{'info': {'copyright': {'imageAltText': '© 2023 MapQuest, Inc.',
                        'imageUrl': 'http://api.mqcdn.com/res/mqlogo.gif',
                        'text': '© 2023 MapQuest, Inc.'},
          'messages': [],
          'statuscode': 0},
 'options': {'ignoreLatLngInput': False, 'maxResults': -1},
 'results': [{'locations': [{'adminArea1': 'ES',
                             'adminArea1Type': 'Country',
                             'adminArea3': 'IB',
                             'adminArea3Type': 'State',
                             'adminArea4': 'Balearic Islands',
                             'adminArea4Type': 'County',
                             'adminArea5': 'Sant Josep de sa Talaia',
                             'adminArea5Type': 'City',
                             'adminArea6': '',
                             'adminArea6Type': 'Neighborhood',
                             'displayLatLng': {'lat': 38.87607, 'lng': 1.36788},
                             'dragPoint': False,
                             'geocodeQuality': 'POINT',
                             'geocodeQualityCode': 'P1AAA',
                             'latLng': {'lat': 38.87695, 'lng': 1.36813},
                             'linkId': '0',
                             'mapUrl': '',
                             'postalCode': '07817',
                             'sideOfStreet': 'R',
                             'street': 'Aeroport des Codolar',
                             'type': 's',
                             'unknownInput': ''}],
              'providedLocation': {'location': 'ca 15 km W of Ibiza Airport '
                                               '(IBZ)'}}]}

In [10]:
print(response["results"][0]["locations"][0]["adminArea1"])

ES

In [12]:
Aviation_Accident_df_sp = Aviation_Accident_df[:1]
len(Aviation_Accident_df_sp)

1

In [25]:
country = []
state = []
city = []
LAT = []
LNG = []
for index, row in Aviation_Accident_df.iterrows():
    params = {
    "key": "vM1pBdZGqVAGKqpVoKq5ZjTjT16JOmf9",
    "location": row["location"]
        
    }
    response = requests.get(base_url, params=params).json()
    
    country.append(response["results"][0]["locations"][0]["adminArea1"]) 
    state.append(response["results"][0]["locations"][0]["adminArea3"]) 
    city.append(response["results"][0]["locations"][0]["adminArea5"])
    LAT.append(response["results"][0]["locations"][0]["latLng"]["lat"])
    LNG.append(response["results"][0]["locations"][0]["latLng"]["lng"])
print(country)

['ES', 'US', 'CO', 'UA', 'IN', 'VN', 'GB', 'DE', 'US', 'RU', 'RU', 'US', 'RU', 'US', 'US', 'IN', 'US', 'EG', 'US', 'FR', 'FR', 'US', 'US', 'RU', 'US', 'FR', 'US', 'US', 'US', 'TH', 'US', 'US', 'RU', 'US', 'TR', 'US', 'FR', 'US', 'ID', 'US', 'US', 'US', 'US', 'KE', 'US', 'LK', 'VE', 'AR', 'VN', 'US', 'MA', 'US', 'US', 'PE', 'US', 'SA', 'RU', 'RU', 'UA', 'SK', 'EC', 'PT', 'RU', 'RU', 'HR', 'HR', 'TR', 'ZA', 'IN', 'BO', 'US', 'RU', 'TH', 'US', 'RU', 'US', 'US', 'US', 'US', 'DE', 'MA', 'MY', 'IN', 'BG', 'PE', 'LK', 'US', 'IT', 'ZW', 'RU', 'EC', 'US', 'AU', 'US', 'UA', 'RU', 'MX', 'US', 'US', 'US', 'PL', 'US', 'US', 'IT', 'KZ', 'SA', 'SA', 'CO', 'RU', 'IQ', 'TW', 'US', 'US', 'RU', 'FR', 'US', 'ET', 'AE', 'US', 'US', 'BR', 'UA', 'RU', 'US', 'ES', 'US', 'KZ', 'US', 'US', 'US', 'US', 'NG', 'ES', 'ES', 'BG', 'EC', 'RU', 'RU', 'US', 'ZA', 'ES', 'US', 'UA', 'UA', 'IE', 'RU', 'CO', 'US', 'JP', 'GB', 'GB', 'MT', 'CA', 'US', 'ES', 'FI', 'US', 'SS', 'US', 'US', 'IR', 'US', 'SA', 'CI', 'ER', 'PL', 'US', 'US', 'PH', 'US', 'TH', 'US', 'MM', 'US', 'US', 'US', 'TH', 'IN', 'US', 'GB', 'PT', 'US', 'PE', 'US', 'LY', 'US', 'IN', 'DK', 'PY', 'AZ', 'US', 'US', 'CO', 'US', 'IN', 'US', 'US', 'US', 'US', 'US', 'US', 'SA', 'US', 'ID', 'US', 'FR', 'KE', 'YE', 'ID', 'US', 'NP', 'US', 'NG', 'NP', 'ZA', 'PT', 'LY', 'US', 'MK', 'IN', 'AF', 'US', 'US', 'US', 'TJ', 'US', 'US', 'BY', 'RU', 'US', 'KH', 'US', 'US', 'IR', 'US', 'US', 'CO', 'US', 'US', 'BR', 'LK', 'ES', 'US', 'US', 'US', 'RU', 'AO', 'PH', 'CD', 'DO', 'SD', 'PE', 'US', 'US', 'US', 'US', 'PE', 'BR', 'US', 'IN', 'IN', 'KM', 'IL', 'RU', 'TH', 'KH', 'US', 'UY', 'US', 'US', 'GR', 'NL', 'US', 'PH', 'EG', 'CO', 'US', 'EC', 'CA', 'LK', 'TH', 'SE', 'AU', 'AR', 'US', 'CI', 'US', 'PH', 'IN', 'FR', 'BH', 'US', 'TW', 'AO', 'RU', 'US', 'US', 'US', 'RU', 'IT', 'IT', 'US', 'CO', 'IR', 'US', 'US', 'US', 'US', 'CH', 'CH', 'TR', 'US', 'DZ', 'US', 'SD', 'BJ', 'EG', 'US', 'US', 'GQ', 'IT', 'VE', 'ID', 'ZA', 'IR', 'NG', 'RU', 'RU', 'UA', 'BR', 'BR', 'AE', 'US', 'US', 'BR', 'TH', 'US', 'ES', 'IN', 'US', 'US', 'ID', 'BR', 'KM', 'IR', 'US', 'US', 'US', 'IN', 'US', 'CU', 'US', 'US', 'US', 'US', 'NG', 'RU', 'US', 'US', 'SK', 'US', 'NL', 'FR', 'US', 'US', 'EG', 'RU', 'US', 'US', 'US', 'MM', 'RU', 'US', 'NP', 'US', 'US', 'US', 'ET', 'IN', 'US', 'ID', 'PH', 'US']

In [26]:
Aviation_Accident_df['country'] = country
Aviation_Accident_df['state'] = state
Aviation_Accident_df['city'] = city
Aviation_Accident_df['LAT'] = LAT
Aviation_Accident_df['LNG'] = LNG

In [27]:
Aviation_Accident_df.head()

,Unnamed: 0,acc. date,type,operator,fat.,location,dmg,country,state,city,LAT,LNG
0,3,7 Jan 1972,Sud Aviation SE-210 Caravelle VI-R,Iberia,104,ca 15 km W of Ibiza Airport (IBZ),dst,ES,IB,Sant Josep de sa Talaia,38.87695,1.36813
1,56,14 Mar 1972,Sud Aviation SE-210 Caravelle 10B3,Sterling Airways,112,ca 20 km W of Kalba,dst,US,,,38.89037,-77.03196
2,109,5 May 1972,Douglas DC-8-43,Alitalia,115,5 km SW of Palermo,dst,CO,,Palermo,2.88604,-75.43763
3,124,18 May 1972,Antonov An-10A,Aeroflot / Ukraine,122,24 km from Kharkov Airport (HRK),dst,UA,,Kharkiv,49.91978,36.27854
4,148,14 Jun 1972,Douglas DC-8-53,Japan Air Lines - JAL,86,ca 20 km E of Delhi-Palam Airport (DEL),dst,IN,DL,Delhi,28.55574,77.08556

In [28]:
Aviation_Accident_df.to_csv("Resources/Aviation_Accident_Updated.csv", index=False, header=True)