In [1]:
from pathlib import Path 
from bs4 import BeautifulSoup
import pandas as pd
pd.set_option('max_colwidth', 400)
pd.set_option("display.max_columns", 40)
import sqlalchemy
import sqlite3
import json
from flask import Flask
from flask_cors import CORS

In [2]:
import pandas as pd
df = pd.read_csv('Resources/Aviation_Accident_Updated.csv')
pd.set_option('display.max_colwidth', 400)
df.head()

,Unnamed: 0,acc. date,type,operator,fat.,location,dmg,country,state,city,LAT,LNG
0,3,7 Jan 1972,Sud Aviation SE-210 Caravelle VI-R,Iberia,104,ca 15 km W of Ibiza Airport (IBZ),dst,ES,IB,Sant Josep de sa Talaia,38.87695,1.36813
1,56,14 Mar 1972,Sud Aviation SE-210 Caravelle 10B3,Sterling Airways,112,ca 20 km W of Kalba,dst,US,NaN,NaN,38.89037,-77.03196
2,109,5 May 1972,Douglas DC-8-43,Alitalia,115,5 km SW of Palermo,dst,CO,NaN,Palermo,2.88604,-75.43763
3,124,18 May 1972,Antonov An-10A,Aeroflot / Ukraine,122,24 km from Kharkov Airport (HRK),dst,UA,NaN,Kharkiv,49.91978,36.27854
4,148,14 Jun 1972,Douglas DC-8-53,Japan Air Lines - JAL,86,ca 20 km E of Delhi-Palam Airport (DEL),dst,IN,DL,Delhi,28.55574,77.08556

In [3]:
conn = sqlite3.connect('Aviation_Accident.db')

In [4]:
df.reset_index(inplace=True)
df = df.rename(columns = {'index':'Items'})

In [5]:
df.head()

,Items,Unnamed: 0,acc. date,type,operator,fat.,location,dmg,country,state,city,LAT,LNG
0,0,3,7 Jan 1972,Sud Aviation SE-210 Caravelle VI-R,Iberia,104,ca 15 km W of Ibiza Airport (IBZ),dst,ES,IB,Sant Josep de sa Talaia,38.87695,1.36813
1,1,56,14 Mar 1972,Sud Aviation SE-210 Caravelle 10B3,Sterling Airways,112,ca 20 km W of Kalba,dst,US,NaN,NaN,38.89037,-77.03196
2,2,109,5 May 1972,Douglas DC-8-43,Alitalia,115,5 km SW of Palermo,dst,CO,NaN,Palermo,2.88604,-75.43763
3,3,124,18 May 1972,Antonov An-10A,Aeroflot / Ukraine,122,24 km from Kharkov Airport (HRK),dst,UA,NaN,Kharkiv,49.91978,36.27854
4,4,148,14 Jun 1972,Douglas DC-8-53,Japan Air Lines - JAL,86,ca 20 km E of Delhi-Palam Airport (DEL),dst,IN,DL,Delhi,28.55574,77.08556

In [6]:
df[['date','month','year']] = df['acc. date'].str.split(expand=True)

In [7]:
df.head()

,Items,Unnamed: 0,acc. date,type,operator,fat.,location,dmg,country,state,city,LAT,LNG,date,month,year
0,0,3,7 Jan 1972,Sud Aviation SE-210 Caravelle VI-R,Iberia,104,ca 15 km W of Ibiza Airport (IBZ),dst,ES,IB,Sant Josep de sa Talaia,38.87695,1.36813,7,Jan,1972
1,1,56,14 Mar 1972,Sud Aviation SE-210 Caravelle 10B3,Sterling Airways,112,ca 20 km W of Kalba,dst,US,NaN,NaN,38.89037,-77.03196,14,Mar,1972
2,2,109,5 May 1972,Douglas DC-8-43,Alitalia,115,5 km SW of Palermo,dst,CO,NaN,Palermo,2.88604,-75.43763,5,May,1972
3,3,124,18 May 1972,Antonov An-10A,Aeroflot / Ukraine,122,24 km from Kharkov Airport (HRK),dst,UA,NaN,Kharkiv,49.91978,36.27854,18,May,1972
4,4,148,14 Jun 1972,Douglas DC-8-53,Japan Air Lines - JAL,86,ca 20 km E of Delhi-Palam Airport (DEL),dst,IN,DL,Delhi,28.55574,77.08556,14,Jun,1972

In [8]:
df = df.rename(columns = {'fat.':'fat'})

In [9]:
df = df.rename(columns = {'acc. date':'accident_date'})

In [10]:
aviation_df = df[["Items","accident_date","year","type","operator","fat","location","country","state","city", "LAT", "LNG" ]]

In [11]:
aviation_df.head()

,Items,accident_date,year,type,operator,fat,location,country,state,city,LAT,LNG
0,0,7 Jan 1972,1972,Sud Aviation SE-210 Caravelle VI-R,Iberia,104,ca 15 km W of Ibiza Airport (IBZ),ES,IB,Sant Josep de sa Talaia,38.87695,1.36813
1,1,14 Mar 1972,1972,Sud Aviation SE-210 Caravelle 10B3,Sterling Airways,112,ca 20 km W of Kalba,US,NaN,NaN,38.89037,-77.03196
2,2,5 May 1972,1972,Douglas DC-8-43,Alitalia,115,5 km SW of Palermo,CO,NaN,Palermo,2.88604,-75.43763
3,3,18 May 1972,1972,Antonov An-10A,Aeroflot / Ukraine,122,24 km from Kharkov Airport (HRK),UA,NaN,Kharkiv,49.91978,36.27854
4,4,14 Jun 1972,1972,Douglas DC-8-53,Japan Air Lines - JAL,86,ca 20 km E of Delhi-Palam Airport (DEL),IN,DL,Delhi,28.55574,77.08556

In [12]:
aviation_df['operator'].value_counts()

Pan American World Airways (Pan Am)      6
American Airlines                        5
Indian Airlines                          5
Pakistan International Airlines - PIA    4
EgyptAir                                 4
                                        ..
Xiamen Airlines                          1
Elleniki PolemikÃ­ AeroporÃ­a            1
Lauda Air                                1
Royal Air Maroc - RAM                    1
China Eastern Airlines                   1
Name: operator, Length: 259, dtype: int64

In [13]:
aviation_df["Items"] = aviation_df["Items"] + 1

C:\Users\Theresa\AppData\Local\Temp\ipykernel_11272\3635388313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aviation_df["Items"] = aviation_df["Items"] + 1

In [14]:
aviation_df = aviation_df.rename(columns = {'Items':'Id_num'})

In [15]:
aviation_df.set_index('Id_num', inplace=True)

In [16]:
aviation_df.to_sql('Aviation_Accident', con=conn, if_exists='replace', index=True, index_label='Id_num', dtype={'Id_num': 'VARCHAR PRIMARY KEY'})

383

In [17]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 383 entries, 1 to 383
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   accident_date  383 non-null    object
 1   year           383 non-null    object
 2   type           383 non-null    object
 3   operator       383 non-null    object
 4   fat            383 non-null    int64
 5   location       383 non-null    object
 6   country        383 non-null    object
 7   state          130 non-null    object
 8   city           270 non-null    object
 9   LAT            383 non-null    float64
 10  LNG            383 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 35.9+ KB

In [18]:
organized_df = aviation_df[["accident_date","year","type","operator","fat","country","LAT","LNG"]]

In [19]:
json_str = organized_df.to_json(orient='records')

In [20]:
json_obj = json.loads(json_str)

In [21]:
country_df = aviation_df[["country"]]
country_df.drop_duplicates(keep='first', inplace=True)
json_distinct_country_str = country_df.to_json(orient='records')
json_distinct_country_obj = json.loads(json_distinct_country_str)

C:\Users\Theresa\AppData\Local\Temp\ipykernel_11272\1027646805.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_df.drop_duplicates(keep='first', inplace=True)

In [22]:
json_distinct_country_str = country_df.to_json(orient='records')
json_distinct_country_obj = json.loads(json_distinct_country_str)

In [23]:
from pathlib import Path 
filepath = Path('Resources/Aviation_Accident.json')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
aviation_df.to_json(filepath)

In [24]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import numpy as np

In [25]:
# Create engine using the `demographics.sqlite` database file
#engine =  sqlalchemy.create_engine('postgresql://postgres:Rajibmaji1#@localhost:5432/nba_db')

engine=sqlalchemy.create_engine(f'sqlite:///Aviation_Accident.db')

# Declare a Base using `automap_base()`
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(autoload_with=engine)

# Print all of the classes mapped to the Base
Base.classes.keys()
#nba_players = Base.classes.nba_players

['Aviation_Accident']

In [26]:
aviation_df.columns

Index(['accident_date', 'year', 'type', 'operator', 'fat', 'location',
       'country', 'state', 'city', 'LAT', 'LNG'],
      dtype='object')

In [27]:
aviation_year_df = aviation_df['year'].value_counts().reset_index(name="count")
year_json_str = aviation_year_df.to_json(orient='records')
year_json_obj = json.loads(year_json_str)

In [28]:
aviation_json = aviation_df[['accident_date','year','type', 'operator', 'fat', 'location','country','LAT', 'LNG']].to_json(orient = 'records')

In [29]:
from flask import Flask, request  # import main Flask class and request object
import random
from werkzeug.wrappers import Request, Response
from flask import Flask , jsonify
import random

In [30]:
Aviation_Accident = Base.classes.Aviation_Accident
session = Session(engine)

In [31]:
app1 = Flask(__name__)  # create the Flask app
CORS(app1)

In [32]:
@app1.route("/all")
def get_all_accidents():
    return aviation_json

In [33]:
@app1.route("/allyear")
def get_all_accidents_year():
    return year_json_obj

In [34]:
@app1.route("/alluniquecountry")
def get_all_unique_country():
    return json_distinct_country_obj

In [35]:
from flask import Flask, jsonify, render_template, request
#from flask_sqlalchemy import SQLAlchemy
import random

@app1.route("/carriertypesearch")
def get_carriertype():
    accident_date = []
    year = []
    carrier_type = []
    operator = []
    fat = []
    location = []
    country =  []
    LAT = []
    LNG = []
    Aviation_Accident_carriertype = { "accident_date" : [],
                    "year" : [],                 
                    "carrier_type" : [],
                    "operator" : [],
                    "fat" : [],
                    "location"  : [],  
                    "country" : [] , 
                    "LAT" : [],
                    "LNG"  : []    
    
    }

    query_location = request.args.get("carriertype") 
    result = session.query(Aviation_Accident).filter(Aviation_Accident.type.contains(request.args.get("carriertype")))
    for row in result:
        accident_date.append(row.accident_date)
        year.append(row.year)
        carrier_type.append(row.type)
        operator.append(row.operator)
        fat.append(row.fat)
        location.append(row.location)
        country.append(row.country)
        LAT.append(row.LAT)
        LNG.append(row.LNG)
    
    Aviation_Accident_carriertype["accident_date"]   = accident_date
    Aviation_Accident_carriertype["year"]   = year
    Aviation_Accident_carriertype["carrier_type"]   = carrier_type
    Aviation_Accident_carriertype["operator"]   = operator
    Aviation_Accident_carriertype["fat"]   = fat
    Aviation_Accident_carriertype["location"]   = location
    Aviation_Accident_carriertype["country"]   = country
    Aviation_Accident_carriertype["LAT"]   = LAT
    Aviation_Accident_carriertype["LNG"]   = LNG
    
    df = pd.DataFrame(Aviation_Accident_carriertype)
    json_str = df.to_json(orient='records')
    json_obj_carrier = json.loads(json_str)
    
    return (json_obj_carrier)

In [36]:
@app1.route("/year")
def get_year():
    accident_date = []
    year = []
    carrier_type = []
    operator = []
    fat = []
    location = []
    country =  []
    LAT = []
    LNG = []
    Aviation_Accident_year = { "accident_date" : [],
                    "year" : [],                 
                    "carrier_type" : [],
                    "operator" : [],
                    "fat" : [],
                    "location"  : [],  
                    "country" : [] , 
                    "LAT" : [],
                    "LNG"  : []    
    
    }

    #query_location = request.args.get("carriertype") 
    yearsearch = request.args.get("year")
             
    result = session.query(Aviation_Accident).filter(Aviation_Accident.year == yearsearch)
    for row in result:
        accident_date.append(row.accident_date)
        year.append(row.year)
        carrier_type.append(row.type)
        operator.append(row.operator)
        fat.append(row.fat)
        location.append(row.location)
        country.append(row.country)
        LAT.append(row.LAT)
        LNG.append(row.LNG)
    
    Aviation_Accident_year["accident_date"]   = accident_date
    Aviation_Accident_year["year"]   = year
    Aviation_Accident_year["carrier_type"]   = carrier_type
    Aviation_Accident_year["operator"]   = operator
    Aviation_Accident_year["fat"]   = fat
    Aviation_Accident_year["location"]   = location
    Aviation_Accident_year["country"]   = country
    Aviation_Accident_year["LAT"]   = LAT
    Aviation_Accident_year["LNG"]   = LNG
    
    df = pd.DataFrame(Aviation_Accident_year)
    json_str = df.to_json(orient='records')
    json_obj_year_accident = json.loads(json_str)
    
    return (json_obj_year_accident)

In [37]:
@app1.route("/yearsearch")
def get_yearsearch():
    accident_date = []
    year = []
    carrier_type = []
    operator = []
    fat = []
    location = []
    country =  []
    LAT = []
    LNG = []
    Aviation_Accident_year = { "accident_date" : [],
                    "year" : [],                 
                    "carrier_type" : [],
                    "operator" : [],
                    "fat" : [],
                    "location"  : [],  
                    "country" : [] , 
                    "LAT" : [],
                    "LNG"  : []    
    
    }

    #query_location = request.args.get("carriertype") 
    beg_year = request.args.get("beg")
    end_year = request.args.get("end")          
    result = session.query(Aviation_Accident).filter(Aviation_Accident.year >= beg_year).filter(Aviation_Accident.year < end_year)
    for row in result:
        accident_date.append(row.accident_date)
        year.append(row.year)
        carrier_type.append(row.type)
        operator.append(row.operator)
        fat.append(row.fat)
        location.append(row.location)
        country.append(row.country)
        LAT.append(row.LAT)
        LNG.append(row.LNG)
    
    Aviation_Accident_year["accident_date"]   = accident_date
    Aviation_Accident_year["year"]   = year
    Aviation_Accident_year["carrier_type"]   = carrier_type
    Aviation_Accident_year["operator"]   = operator
    Aviation_Accident_year["fat"]   = fat
    Aviation_Accident_year["location"]   = location
    Aviation_Accident_year["country"]   = country
    Aviation_Accident_year["LAT"]   = LAT
    Aviation_Accident_year["LNG"]   = LNG
    
    df = pd.DataFrame(Aviation_Accident_year)
    year_df = df['year'].value_counts().reset_index(name="count")
    year_df_sorted = year_df.sort_values("year")
    year_df_sorted = year_df_sorted.reset_index(drop=True) 
    json_str = year_df_sorted.to_json(orient='records')
    json_obj_year = json.loads(json_str)            
    
    
    return (json_obj_year)

In [38]:
@app1.route("/operatorsearch")
def get_operator():
    accident_date = []
    year = []
    carrier_type = []
    operator = []
    fat = []
    location = []
    country =  []
    state = []
    city = []
    LAT = []
    LNG = []
    Aviation_Accident_operator = { "accident_date" : [],
                    "year" : [],              
                    "carrier_type" : [],
                    "operator" : [],
                    "fat" : [],
                    "location"  : [],  
                    "country" : [] , 
                    "LAT" : [],
                    "LNG"  : []    
    
    }

    query_location = request.args.get("operator") 
    result = session.query(Aviation_Accident).filter(Aviation_Accident.operator.contains(request.args.get("operator")))
    for row in result:
        accident_date.append(row.accident_date)
        year.append(row.year)
        carrier_type.append(row.type)
        operator.append(row.operator)
        fat.append(row.fat)
        location.append(row.location)
        country.append(row.country)
        LAT.append(row.LAT)
        LNG.append(row.LNG)
    
    Aviation_Accident_operator["accident_date"]   = accident_date
    Aviation_Accident_operator["year"]   = year
    Aviation_Accident_operator["carrier_type"]   = carrier_type
    Aviation_Accident_operator["operator"]   = operator
    Aviation_Accident_operator["fat"]   = fat
    Aviation_Accident_operator["location"]   = location
    Aviation_Accident_operator["country"]   = country
    Aviation_Accident_operator["LAT"]   = LAT
    Aviation_Accident_operator["LNG"]   = LNG
    
    df = pd.DataFrame(Aviation_Accident_operator)
    json_str = df.to_json(orient='records')
    json_obj_operator = json.loads(json_str)
    
    return (json_obj_operator)

In [39]:
@app1.route("/countrysearch")
def get_coutry():
    accident_date = []
    year  = []
    carrier_type = []
    operator = []
    fat = []
    location = []
    country =  []
    LAT = []
    LNG = []
    Aviation_Accident_country = { "accident_date" : [],
                    "year" : [],             
                    "carrier_type" : [],
                    "operator" : [],
                    "fat" : [],
                    "location"  : [],  
                    "country" : [] , 
                    "LAT" : [],
                    "LNG"  : []    
    
    }

    query_location = request.args.get("country") 
    result = session.query(Aviation_Accident).filter(Aviation_Accident.country.contains(request.args.get("country")))
    for row in result:
        accident_date.append(row.accident_date)
        year.append(row.year)
        carrier_type.append(row.type)
        operator.append(row.operator)
        fat.append(row.fat)
        location.append(row.location)
        country.append(row.country)
        LAT.append(row.LAT)
        LNG.append(row.LNG)
    
    Aviation_Accident_country["accident_date"]   = accident_date
    Aviation_Accident_country["year"]   = year
    Aviation_Accident_country["carrier_type"]   = carrier_type
    Aviation_Accident_country["operator"]   = operator
    Aviation_Accident_country["fat"]   = fat
    Aviation_Accident_country["location"]   = location
    Aviation_Accident_country["country"]   = country
    Aviation_Accident_country["LAT"]   = LAT
    Aviation_Accident_country["LNG"]   = LNG
    
    df = pd.DataFrame(Aviation_Accident_country)
    json_str = df.to_json(orient='records')
    json_obj_country = json.loads(json_str)
    
    return (json_obj_country)

In [40]:
@app1.route("/")
def home():
    return render_template('index.html')
#         routes = ['http://127.0.0.1:9000/all',
#                 'http://127.0.0.1:9000/random',
#                 'http://127.0.0.1:9000/search?name="Player partial name"',
                
#         ]
#         return (routes)

In [ ]:
if __name__ == '__main__':
    from werkzeug.serving import run_simple
    run_simple('localhost', 8000, app1)

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://localhost:8000
Press CTRL+C to quit
127.0.0.1 - - [19/Oct/2023 09:42:31] "GET /all HTTP/1.1" 200 -
127.0.0.1 - - [19/Oct/2023 09:44:03] "GET /alluniquecountry HTTP/1.1" 200 -
127.0.0.1 - - [19/Oct/2023 09:44:03] "GET /all HTTP/1.1" 200 -
127.0.0.1 - - [19/Oct/2023 09:47:05] "GET /all HTTP/1.1" 200 -
127.0.0.1 - - [19/Oct/2023 09:49:03] "GET /all HTTP/1.1" 200 -
127.0.0.1 - - [19/Oct/2023 09:49:13] "GET /all HTTP/1.1" 200 -