In [106]:
from flask import Flask, jsonify, request, render_template
from werkzeug.wrappers import Request, Response

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import numpy as np

import pandas as pd

import json
import random
import sqlalchemy
import sqlite3

from datetime import datetime as dt

from flask import Flask
from flask_cors import CORS
from pathlib import Path 

from pathlib import Path 
from bs4 import BeautifulSoup

In [107]:
pd.set_option \
    ('max_colwidth', 400)

pd.set_option \
    ('display.max_columns', 40)

pd.options \
    .mode \
    .chained_assignment \
        = None

In [108]:
df \
    = pd.read_csv \
        ('./Resources/AviationAccidentsUpdated.csv')

df \
    = df.drop \
            (df.columns[0], 
             axis = 1)

df.head(10)

,acc_date,type,operator,total_fatalities,aircraft_damage,phase,nature,location,departure,destination,acc_city,acc_state,country_code,acc_lat,acc_lon
0,1972-01-07,Sud Aviation SE-210,Iberia,104,Destroyed,Approach (APR),Domestic Scheduled Passenger,ca 15 km W of Ibiza Airport (IBZ) (Spain),Valencia Airport,Ibiza Airport,Ibiza Airport,NaN,ES,38.872770,1.266493
1,1972-02-01,VFW-Fokker 614,VFW-Fokker,1,Damaged beyond repair,Maneuvering (MNV),Test,near Bremen Airport (BRE) (Germany),Bremen Airport,Bremen Airport,Bremen Airport,NaN,DE,53.047501,8.786670
2,1972-05-04,Yakovlev YAK-40,Aeroflot,18,Destroyed,Approach (APR),Domestic Scheduled Passenger,"1,2 km (0.8 mls) from Bratsk Airport (BTK) (Russia)",Irkutsk Airport,Bratsk Airport,Bratsk Airport,NaN,RU,56.378232,101.675111
3,1972-05-08,Douglas DC-3,Aerotécnica,6,Damaged beyond repair,En route (ENR),Domestic Non Scheduled Passenger,ca 150 km W of Ciudad Bolívar (Venezuela),Ciudad Bolívar Airport,La Centella,Ciudad Bolívar,NaN,VE,8.141748,-64.735025
4,1972-05-21,Fokker F-27,DTA-Direcção de Exploração dos Transp. Aéreos,22,Damaged beyond repair,Approach (APR),Domestic Scheduled Passenger,3 km (1.9 mls) NW off Lobito Airport (Angola),Luanda Airport,Lobito Airport,Lobito Airport,NaN,AO,-12.353652,13.533056
5,1972-05-27,de Havilland Canada DHC-6,General Air,8,Damaged beyond repair,Initial climb (ICL),Domestic Scheduled Passenger,Helgoland Airport (HGL) (Germany),Helgoland Airfield,Wangerooge Airfield,Helgoland Airport,NaN,DE,54.185280,7.915833
6,1972-06-29,MBB HFB-320,Inter City Flug,7,Damaged beyond repair,Takeoff (TOF),Executive,Blackpool Airport (BLK) (United Kingdom),Blackpool Airport,Rotterdam Airport,Blackpool Airport,NaN,GB,53.771702,-3.028610
7,1972-07-11,Antonov AN-2,Aeroflot,2,Damaged beyond repair,Initial climb (ICL),Cargo,Okha (Russia),Okha Airport,Tsimmermanovka Airstrip,Okha,NaN,RU,53.594680,142.942970
8,1972-07-12,Boeing B-17,Black Hills Aviation,2,Damaged beyond repair,Maneuvering (MNV),Fire fighting,"Socorro, NM (United States of America)",Alamogordo Municipal Airport,Alamogordo Municipal Airport,Socorro,NM,US,34.060140,-106.891870
9,1972-07-29,Douglas DC-3,Avianca,17,Destroyed,En route (ENR),Domestic Scheduled Passenger,near Las Palomas (Colombia),Villavicencio Airport,El Yopal Airport,Las Palomas,NaN,CO,8.447700,-75.997170

In [109]:
connectionSQLiteObject = sqlite3.connect('Aviation_Accident.db')

In [110]:
df.reset_index \
    (inplace=True)

df \
    = df.rename \
        (columns = {'index':'Items'})

In [111]:
df.head()

,Items,acc_date,type,operator,total_fatalities,aircraft_damage,phase,nature,location,departure,destination,acc_city,acc_state,country_code,acc_lat,acc_lon
0,0,1972-01-07,Sud Aviation SE-210,Iberia,104,Destroyed,Approach (APR),Domestic Scheduled Passenger,ca 15 km W of Ibiza Airport (IBZ) (Spain),Valencia Airport,Ibiza Airport,Ibiza Airport,NaN,ES,38.872770,1.266493
1,1,1972-02-01,VFW-Fokker 614,VFW-Fokker,1,Damaged beyond repair,Maneuvering (MNV),Test,near Bremen Airport (BRE) (Germany),Bremen Airport,Bremen Airport,Bremen Airport,NaN,DE,53.047501,8.786670
2,2,1972-05-04,Yakovlev YAK-40,Aeroflot,18,Destroyed,Approach (APR),Domestic Scheduled Passenger,"1,2 km (0.8 mls) from Bratsk Airport (BTK) (Russia)",Irkutsk Airport,Bratsk Airport,Bratsk Airport,NaN,RU,56.378232,101.675111
3,3,1972-05-08,Douglas DC-3,Aerotécnica,6,Damaged beyond repair,En route (ENR),Domestic Non Scheduled Passenger,ca 150 km W of Ciudad Bolívar (Venezuela),Ciudad Bolívar Airport,La Centella,Ciudad Bolívar,NaN,VE,8.141748,-64.735025
4,4,1972-05-21,Fokker F-27,DTA-Direcção de Exploração dos Transp. Aéreos,22,Damaged beyond repair,Approach (APR),Domestic Scheduled Passenger,3 km (1.9 mls) NW off Lobito Airport (Angola),Luanda Airport,Lobito Airport,Lobito Airport,NaN,AO,-12.353652,13.533056

In [112]:
df['acc_date'] \
    = pd.to_datetime \
        (df['acc_date'], 
         format = '%Y-%m-%d')

In [113]:
df['year'] \
    = df['acc_date'].dt.year

df['month'] \
    = df['acc_date'].dt.month

df['day'] \
    = df['acc_date'].dt.day

In [114]:
df.head(10)

,Items,acc_date,type,operator,total_fatalities,aircraft_damage,phase,nature,location,departure,destination,acc_city,acc_state,country_code,acc_lat,acc_lon,year,month,day
0,0,1972-01-07,Sud Aviation SE-210,Iberia,104,Destroyed,Approach (APR),Domestic Scheduled Passenger,ca 15 km W of Ibiza Airport (IBZ) (Spain),Valencia Airport,Ibiza Airport,Ibiza Airport,NaN,ES,38.872770,1.266493,1972,1,7
1,1,1972-02-01,VFW-Fokker 614,VFW-Fokker,1,Damaged beyond repair,Maneuvering (MNV),Test,near Bremen Airport (BRE) (Germany),Bremen Airport,Bremen Airport,Bremen Airport,NaN,DE,53.047501,8.786670,1972,2,1
2,2,1972-05-04,Yakovlev YAK-40,Aeroflot,18,Destroyed,Approach (APR),Domestic Scheduled Passenger,"1,2 km (0.8 mls) from Bratsk Airport (BTK) (Russia)",Irkutsk Airport,Bratsk Airport,Bratsk Airport,NaN,RU,56.378232,101.675111,1972,5,4
3,3,1972-05-08,Douglas DC-3,Aerotécnica,6,Damaged beyond repair,En route (ENR),Domestic Non Scheduled Passenger,ca 150 km W of Ciudad Bolívar (Venezuela),Ciudad Bolívar Airport,La Centella,Ciudad Bolívar,NaN,VE,8.141748,-64.735025,1972,5,8
4,4,1972-05-21,Fokker F-27,DTA-Direcção de Exploração dos Transp. Aéreos,22,Damaged beyond repair,Approach (APR),Domestic Scheduled Passenger,3 km (1.9 mls) NW off Lobito Airport (Angola),Luanda Airport,Lobito Airport,Lobito Airport,NaN,AO,-12.353652,13.533056,1972,5,21
5,5,1972-05-27,de Havilland Canada DHC-6,General Air,8,Damaged beyond repair,Initial climb (ICL),Domestic Scheduled Passenger,Helgoland Airport (HGL) (Germany),Helgoland Airfield,Wangerooge Airfield,Helgoland Airport,NaN,DE,54.185280,7.915833,1972,5,27
6,6,1972-06-29,MBB HFB-320,Inter City Flug,7,Damaged beyond repair,Takeoff (TOF),Executive,Blackpool Airport (BLK) (United Kingdom),Blackpool Airport,Rotterdam Airport,Blackpool Airport,NaN,GB,53.771702,-3.028610,1972,6,29
7,7,1972-07-11,Antonov AN-2,Aeroflot,2,Damaged beyond repair,Initial climb (ICL),Cargo,Okha (Russia),Okha Airport,Tsimmermanovka Airstrip,Okha,NaN,RU,53.594680,142.942970,1972,7,11
8,8,1972-07-12,Boeing B-17,Black Hills Aviation,2,Damaged beyond repair,Maneuvering (MNV),Fire fighting,"Socorro, NM (United States of America)",Alamogordo Municipal Airport,Alamogordo Municipal Airport,Socorro,NM,US,34.060140,-106.891870,1972,7,12
9,9,1972-07-29,Douglas DC-3,Avianca,17,Destroyed,En route (ENR),Domestic Scheduled Passenger,near Las Palomas (Colombia),Villavicencio Airport,El Yopal Airport,Las Palomas,NaN,CO,8.447700,-75.997170,1972,7,29

In [115]:
df \
    = df.rename \
        (columns = {'total_fatalities':'fat'})

df \
    = df.rename \
        (columns = {'acc_date':'accident_date'})

df \
    = df.rename \
        (columns = {'accident_location':'location'})

df \
    = df.rename \
        (columns = {'acc_city':'city'})

df \
    = df.rename \
        (columns = {'acc_state':'state'})

df \
    = df.rename \
        (columns = {'county_code':'country'})

df \
    = df.rename \
        (columns = {'acc_city':'city'})

df \
    = df.rename \
        (columns = {'country_code':'country'})
    
df \
    = df.rename \
        (columns = {'acc_lat':'LAT'})

df \
    = df.rename \
        (columns = {'acc_lon':'LNG'})

In [116]:
aviation_df \
    = df[['Items',
          'accident_date',
          'year',
          'type',
          'operator',
          'fat',
          'location',
          'country',
          'state',
          'city', 
          'LAT', 
          'LNG']]

In [117]:
aviation_df \
    .head(10)

,Items,accident_date,year,type,operator,fat,location,country,state,city,LAT,LNG
0,0,1972-01-07,1972,Sud Aviation SE-210,Iberia,104,ca 15 km W of Ibiza Airport (IBZ) (Spain),ES,NaN,Ibiza Airport,38.872770,1.266493
1,1,1972-02-01,1972,VFW-Fokker 614,VFW-Fokker,1,near Bremen Airport (BRE) (Germany),DE,NaN,Bremen Airport,53.047501,8.786670
2,2,1972-05-04,1972,Yakovlev YAK-40,Aeroflot,18,"1,2 km (0.8 mls) from Bratsk Airport (BTK) (Russia)",RU,NaN,Bratsk Airport,56.378232,101.675111
3,3,1972-05-08,1972,Douglas DC-3,Aerotécnica,6,ca 150 km W of Ciudad Bolívar (Venezuela),VE,NaN,Ciudad Bolívar,8.141748,-64.735025
4,4,1972-05-21,1972,Fokker F-27,DTA-Direcção de Exploração dos Transp. Aéreos,22,3 km (1.9 mls) NW off Lobito Airport (Angola),AO,NaN,Lobito Airport,-12.353652,13.533056
5,5,1972-05-27,1972,de Havilland Canada DHC-6,General Air,8,Helgoland Airport (HGL) (Germany),DE,NaN,Helgoland Airport,54.185280,7.915833
6,6,1972-06-29,1972,MBB HFB-320,Inter City Flug,7,Blackpool Airport (BLK) (United Kingdom),GB,NaN,Blackpool Airport,53.771702,-3.028610
7,7,1972-07-11,1972,Antonov AN-2,Aeroflot,2,Okha (Russia),RU,NaN,Okha,53.594680,142.942970
8,8,1972-07-12,1972,Boeing B-17,Black Hills Aviation,2,"Socorro, NM (United States of America)",US,NM,Socorro,34.060140,-106.891870
9,9,1972-07-29,1972,Douglas DC-3,Avianca,17,near Las Palomas (Colombia),CO,NaN,Las Palomas,8.447700,-75.997170

In [118]:
aviation_df \
    ['operator'] \
        .value_counts()

operator
Aeroflot                                 72
Pakistan International Airlines - PIA     6
Ethiopian Airlines                        5
private                                   5
Burma Airways                             5
                                         ..
Tepper Aviation Inc                       1
Air Express A/S                           1
Aloha IslandAir                           1
Tapu Kadastro Genel Müdürlügü             1
Copper Mountain Aviation LLC              1
Name: count, Length: 600, dtype: int64

In [119]:
aviation_df["accident_date"] = aviation_df["accident_date"].astype(str)

In [120]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Items          777 non-null    int64
 1   accident_date  777 non-null    object
 2   year           777 non-null    int32
 3   type           777 non-null    object
 4   operator       777 non-null    object
 5   fat            777 non-null    int64
 6   location       777 non-null    object
 7   country        776 non-null    object
 8   state          316 non-null    object
 9   city           777 non-null    object
 10  LAT            777 non-null    float64
 11  LNG            777 non-null    float64
dtypes: float64(2), int32(1), int64(2), object(7)
memory usage: 69.9+ KB

In [121]:
aviation_df['Items'] \
    = aviation_df['Items'] + 1

In [122]:
aviation_df \
    = aviation_df.rename \
        (columns = {'Items':'Id_num'})

In [123]:
aviation_df \
    .set_index \
        ('Id_num', 
         inplace = True)

In [124]:
aviation_df \
    .to_sql \
        ('Aviation_Accident', 
         con = connectionSQLiteObject, 
         if_exists='replace', 
         index = True, 
         index_label = 'Id_num', 
         dtype = {'Id_num': 'VARCHAR PRIMARY KEY'})

777

In [125]:
aviation_df \
    .info()

<class 'pandas.core.frame.DataFrame'>
Index: 777 entries, 1 to 777
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   accident_date  777 non-null    object
 1   year           777 non-null    int32
 2   type           777 non-null    object
 3   operator       777 non-null    object
 4   fat            777 non-null    int64
 5   location       777 non-null    object
 6   country        776 non-null    object
 7   state          316 non-null    object
 8   city           777 non-null    object
 9   LAT            777 non-null    float64
 10  LNG            777 non-null    float64
dtypes: float64(2), int32(1), int64(1), object(7)
memory usage: 69.8+ KB

In [126]:
organized_df \
    = aviation_df \
        [['accident_date',
          'year',
          'type',
          'operator',
          'fat',
          'country',
          'LAT',
          'LNG']]

In [127]:
json_str \
    = organized_df \
        .to_json \
            (orient = 'records')

In [128]:
json_obj \
    = json.loads \
        (json_str)

In [129]:
country_df \
    = aviation_df \
        [['country']]

country_df \
    .drop_duplicates \
        (keep = 'first', 
         inplace = True)

json_distinct_country_str \
    = country_df \
        .to_json \
            (orient = 'records')

json_distinct_country_obj \
    = json \
        .loads \
            (json_distinct_country_str)

In [130]:
json_distinct_country_str \
    = country_df \
        .to_json \
            (orient = 'records')

json_distinct_country_obj \
    = json \
        .loads \
            (json_distinct_country_str)

In [131]:
filepath \
    = Path \
        ('./Resources/Aviation_Accident.json')

filepath \
    .parent \
        .mkdir \
            (parents = True, exist_ok = True)  

aviation_df \
    .to_json \
        (filepath)

In [132]:
# Create engine using the `demographics.sqlite` database file
#engine =  sqlalchemy.create_engine('postgresql://postgres:Rajibmaji1#@localhost:5432/nba_db')
engine \
    = sqlalchemy \
        .create_engine \
            (f'sqlite:///Aviation_Accident.db')

# Declare a Base using `automap_base()`
Base \
    = automap_base()

# Use the Base class to reflect the database tables
Base \
    .prepare \
        (autoload_with = engine)

# Print all of the classes mapped to the Base
Base \
    .classes \
        .keys()
#nba_players = Base.classes.nba_players

['Aviation_Accident']

In [133]:
aviation_df \
    .columns

Index(['accident_date', 'year', 'type', 'operator', 'fat', 'location',
       'country', 'state', 'city', 'LAT', 'LNG'],
      dtype='object')

In [134]:
aviation_year_df \
    = aviation_df \
        ['year'] \
            .value_counts() \
            .reset_index \
                (name = 'count')

year_json_str \
    = aviation_year_df \
        .to_json \
            (orient = 'records')

year_json_obj \
    = json \
        .loads \
            (year_json_str)

In [135]:
aviation_json \
    = aviation_df \
        [['accident_date',
          'year',
          'type', 
          'operator', 
          'fat', 
          'location',
          'country',
          'LAT', 
          'LNG']] \
            .to_json \
                (orient = 'records')

In [136]:
Aviation_Accident \
    = Base \
        .classes \
            .Aviation_Accident

session \
    = Session \
        (engine)

In [137]:
app1 \
    = Flask(__name__)  # create the Flask app

CORS (app1)

In [138]:
@app1.route('/all')

def get_all_accidents():
    
    return aviation_json

In [139]:
@app1.route('/allyear')

def get_all_accidents_year():
    
    return year_json_obj

In [140]:
@app1.route('/alluniquecountry')

def get_all_unique_country():
    
    return json_distinct_country_obj

In [141]:
@app1.route('/carriertypesearch')

def get_carriertype():
    
    accident_date = []
    
    year = []
    
    carrier_type = []
    
    operator = []
    
    fat = []
    
    location = []
    
    country =  []
    
    LAT = []
    
    LNG = []
    
    Aviation_Accident_carriertype \
        = { 'accident_date': [],
            'year': [],                 
            'carrier_type': [],
            'operator': [],
            'fat': [],
            'location': [],  
            'country': [], 
            'LAT': [],
            'LNG': []}

    query_location \
        = request \
            .args.get \
                ('carriertype')
    
    result \
        = session \
            .query \
                (Aviation_Accident) \
            .filter \
                (Aviation_Accident \
                    .type.contains \
                         (request.args.get \
                              ('carriertype')))
    
    for row in result:
        
        accident_date \
            .append  \
                (row.accident_date)
        
        year \
            .append \
                (row.year)
        
        carrier_type \
            .append \
                (row.type)
        
        operator \
            .append \
                (row.operator)
        
        fat \
            .append \
                (row.fat)
        
        location \
            .append \
                (row.location)
        
        country \
            .append \
                (row.country)
        
        LAT \
            .append \
                (row.LAT)
        
        LNG \
            .append \
                (row.LNG)
    
    
    Aviation_Accident_carriertype \
        ['accident_date'] \
            = accident_date
    
    Aviation_Accident_carriertype['year'] \
        = year
    
    Aviation_Accident_carriertype \
        ['carrier_type'] \
            = carrier_type
    
    Aviation_Accident_carriertype \
        ['operator'] \
            = operator
    
    Aviation_Accident_carriertype \
        ['fat'] \
            = fat
    
    Aviation_Accident_carriertype \
        ['location'] \
            = location
    
    Aviation_Accident_carriertype \
        ['country'] \
            = country
    
    Aviation_Accident_carriertype \
        ['LAT'] \
            = LAT
    
    Aviation_Accident_carriertype \
        ['LNG'] \
            = LNG
    
    df \
        = pd.DataFrame \
            (Aviation_Accident_carriertype)
    
    json_str \
        = df.to_json \
            (orient = 'records')
    
    json_obj_carrier \
        = json.loads \
            (json_str)
    
    return \
        json_obj_carrier

In [142]:
@app1.route('/year')

def get_year():
    
    accident_date = []
    
    year = []
    
    carrier_type = []
    
    operator = []
    
    fat = []
    
    location = []
    
    country =  []
    
    LAT = []
    
    LNG = []
    
    Aviation_Accident_year \
        = {'accident_date' : [],
           'year': [],                 
           'carrier_type': [],
           'operator': [],
           'fat': [],
           'location': [],  
           'country': [], 
           'LAT': [],
           'LNG': []}

    #query_location = request.args.get("carriertype") 
    yearsearch \
        = request  \
            .args.get \
                ('year')
             
    result \
        = session \
            .query \
                (Aviation_Accident) \
            .filter \
                (Aviation_Accident.year == yearsearch)
    
    for row in result:
        
        accident_date \
            .append \
                (row.accident_date)
        
        year \
            .append \
                (row.year)
        
        carrier_type \
            .append \
                (row.type)
        
        operator \
            .append \
                (row.operator)
        
        fat \
            .append \
                (row.fat)
        
        location \
            .append \
                (row.location)
        
        country \
            .append \
                (row.country)
        
        LAT \
            .append \
                (row.LAT)
        
        LNG \
            .append \
                (row.LNG)
    

    Aviation_Accident_year \
        ['accident_date'] \
            = accident_date
    
    Aviation_Accident_year \
        ['year'] \
            = year
    
    Aviation_Accident_year \
        ['carrier_type'] \
            = carrier_type
    
    Aviation_Accident_year \
        ['operator'] \
            = operator
    
    Aviation_Accident_year \
        ['fat'] \
            = fat
    
    Aviation_Accident_year \
        ['location'] \
            = location
    
    Aviation_Accident_year \
        ['country'] \
            = country
    
    Aviation_Accident_year \
        ['LAT'] \
            = LAT
    
    Aviation_Accident_year \
        ['LNG'] \
            = LNG
    
    df \
        = pd.DataFrame \
            (Aviation_Accident_year)
    
    json_str \
        = df \
            .to_json \
                (orient = 'records')
    
    json_obj_year_accident \
        = json.loads \
            (json_str)
    
    return \
        json_obj_year_accident

In [143]:
@app1.route('/yearsearch')

def get_yearsearch():
    
    accident_date = []
    
    year = []
    
    carrier_type = []
    
    operator = []
    
    fat = []
    
    location = []
    
    country =  []
    
    LAT = []
    
    LNG = []
    
    
    Aviation_Accident_year \
        = {'accident_date': [],
           'year': [],                 
           'carrier_type': [],
           'operator': [],
           'fat': [],
           'location': [],  
           'country' : [] , 
           'LAT': [],
           'LNG': []}

    
    #query_location = request.args.get("carriertype") 
    
    beg_year \
        = request \
            .args.get \
                ('beg')
    
    end_year \
        = request \
            .args.get \
                ('end')   
    
    result \
        = session \
            .query \
                (Aviation_Accident) \
                    .filter(Aviation_Accident.year >= beg_year) \
                    .filter(Aviation_Accident.year < end_year)
    
    for row in result:
        
        accident_date \
            .append \
                (row.accident_date)
        
        year \
            .append \
                (row.year)
        
        carrier_type \
            .append \
                (row.type)
        
        operator \
            .append \
                (row.operator)
        
        fat \
            .append \
                (row.fat)
        
        location.append \
            (row.location)
        
        country \
            .append \
                (row.country)
        
        LAT \
            .append \
                (row.LAT)
        
        LNG \
            .append \
                (row.LNG)
    
    
    Aviation_Accident_year \
        ['accident_date'] \
            = accident_date
    
    Aviation_Accident_year \
        ['year'] \
            = year
    
    Aviation_Accident_year \
        ['carrier_type'] \
            = carrier_type
    
    Aviation_Accident_year \
        ['operator'] \
            = operator
    
    Aviation_Accident_year \
        ['fat'] \
            = fat
    
    Aviation_Accident_year \
        ['location'] \
            = location
    
    Aviation_Accident_year \
        ['country'] \
            = country
    
    Aviation_Accident_year \
        ['LAT'] \
            = LAT
    
    Aviation_Accident_year \
        ['LNG'] \
            = LNG
    
    
    df \
        = pd.DataFrame \
            (Aviation_Accident_year)
    
    year_df \
        = df['year'] \
            .value_counts() \
            .reset_index \
                (name = 'count')
    
    year_df_sorted \
        = year_df \
            .sort_values('year')
    
    year_df_sorted \
        = year_df_sorted \
            .reset_index \
                (drop = True)
    
    
    json_str \
        = year_df_sorted \
            .to_json \
                (orient = 'records')
    
    json_obj_year \
        = json.loads \
            (json_str)            
    
    
    return \
        json_obj_year

In [144]:
@app1.route('/operatorsearch')

def get_operator():
    
    accident_date = []
    
    year = []
    
    carrier_type = []
    
    operator = []
    
    fat = []
    
    location = []
    
    country = []
    
    state = []
    
    city = []
    
    LAT = []
    
    LNG = []
    
    
    Aviation_Accident_operator \
        = { 'accident_date': [],
            'year': [],              
            'carrier_type': [],
            'operator': [],
            'fat': [],
            'location': [],  
            'country': [] , 
            'LAT': [],
            'LNG': []}

    
    query_location \
        = request \
            .args.get \
                ('operator')
    
    result \
        = session \
            .query \
                (Aviation_Accident) \
            .filter \
                (Aviation_Accident \
                    .operator \
                    .contains \
                         (request \
                            .args.get('operator')))
    
    for row in result:
    
        accident_date \
            .append \
                (row.accident_date)
        
        year \
            .append \
                (row.year)
        
        carrier_type \
            .append \
                (row.type)
        
        operator \
            .append \
                (row.operator)
        
        fat \
            .append \
                (row.fat)
        
        location \
            .append \
                (row.location)
        
        country \
            .append \
                (row.country)
        
        LAT \
            .append \
                (row.LAT)
        
        LNG \
            .append \
                (row.LNG)
    
    
    Aviation_Accident_operator \
        ['accident_date'] \
            = accident_date

    Aviation_Accident_operator \
        ['year'] \
            = year
    
    Aviation_Accident_operator \
        ['carrier_type'] \
            = carrier_type
    
    Aviation_Accident_operator \
        ['operator'] \
            = operator
    
    Aviation_Accident_operator \
        ['fat'] \
            = fat
    
    Aviation_Accident_operator \
        ['location'] \
            = location
    
    Aviation_Accident_operator \
        ['country'] \
            = country
    
    Aviation_Accident_operator \
        ['LAT'] \
            = LAT
    
    Aviation_Accident_operator \
        ['LNG'] \
            = LNG
    
    
    df \
        = pd.DataFrame \
            (Aviation_Accident_operator)
    
    json_str \
        = df.to_json \
            (orient = 'records')
    
    json_obj_operator \
        = json.loads \
            (json_str)
    
    
    return \
        json_obj_operator

In [145]:
@app1.route('/countrysearch')

def get_coutry():
    
    accident_date = []
    
    year  = []
    
    carrier_type = []
    
    operator = []
    
    fat = []
    
    location = []
    
    country =  []
    
    LAT = []
    
    LNG = []
    
    
    Aviation_Accident_country \
        = {'accident_date': [],
           'year': [],             
           'carrier_type': [],
           'operator': [],
           'fat': [],
           'location': [],  
           'country': [] , 
           'LAT': [],
           'LNG': []}

    
    query_location \
        = request \
            .args.get \
                ('country') 
    
    result \
        = session \
            .query \
                (Aviation_Accident) \
            .filter \
                (Aviation_Accident \
                    .country \
                    .contains \
                         (request \
                              .args.get \
                                  ('country')))
    
    
    for row in result:
        
        accident_date \
            .append \
                (row.accident_date)
        
        year \
            .append \
                (row.year)
        
        carrier_type \
            .append \
                (row.type)
        
        operator \
            .append \
                (row.operator)
        
        fat \
            .append \
                (row.fat)
        
        location \
            .append \
                (row.location)
        
        country \
            .append \
                (row.country)
        
        LAT \
            .append \
                (row.LAT)
        
        LNG \
            .append \
                (row.LNG)
    
    
    Aviation_Accident_country \
        ['accident_date'] \
            = accident_date
    
    Aviation_Accident_country \
        ['year'] \
            = year
    
    Aviation_Accident_country \
        ['carrier_type'] \
            = carrier_type
    
    Aviation_Accident_country \
        ['operator'] \
            = operator
    
    Aviation_Accident_country \
        ['fat'] \
            = fat
    
    Aviation_Accident_country \
        ['location'] \
            = location
    
    Aviation_Accident_country \
        ['country'] \
            = country
    
    Aviation_Accident_country \
        ['LAT'] \
            = LAT
    
    Aviation_Accident_country \
        ['LNG'] \
            = LNG
    
    
    df \
        = pd.DataFrame \
            (Aviation_Accident_country)
    
    json_str \
        = df.to_json \
            (orient = 'records')
    
    json_obj_country \
        = json.loads \
            (json_str)
    
    return \
        json_obj_country

In [146]:
@app1.route('/')

def home():
    
    return \
        render_template \
            ('index.html')


#         routes = ['http://127.0.0.1:9000/all',
#                 'http://127.0.0.1:9000/random',
#                 'http://127.0.0.1:9000/search?name="Player partial name"']
#         return (routes)

In [ ]:
if __name__ == '__main__':
    
    from werkzeug.serving import run_simple
    
    run_simple \
        ('localhost', 
         8000, 
         app1)

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://localhost:8000
Press CTRL+C to quit
[2023-10-23 19:35:53,363] ERROR in app: Exception on / [GET]
Traceback (most recent call last):
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\flask\app.py", line 2525, in wsgi_app
    response = self.full_dispatch_request()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\flask\app.py", line 1822, in full_dispatch_request
    rv = self.handle_user_exception(e)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Roaming\Python\Python311\site-packages\flask_cors\extension.py", line 176, in wrapped_function
    return cors_after_request(app.make_response(f(*args, **kwargs)))
                                                ^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\flask\app.py", line 1820, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\flask\app.py", line 1796, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Local\Temp\ipykernel_29472\2113611470.py", line 6, in home
    render_template \
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\flask\templating.py", line 146, in render_template
    template = app.jinja_env.get_or_select_template(template_name_or_list)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\jinja2\environment.py", line 1081, in get_or_select_template
    return self.get_template(template_name_or_list, parent, globals)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\jinja2\environment.py", line 1010, in get_template
    return self._load_template(name, globals)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\jinja2\environment.py", line 969, in _load_template
    template = self.loader.load(self, name, self.make_globals(globals))
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\jinja2\loaders.py", line 126, in load
    source, filename, uptodate = self.get_source(environment, name)
                                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\flask\templating.py", line 62, in get_source
    return self._get_source_fast(environment, template)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\rmaji_btx\AppData\Local\anaconda3\Lib\site-packages\flask\templating.py", line 98, in _get_source_fast
    raise TemplateNotFound(template)
jinja2.exceptions.TemplateNotFound: index.html
127.0.0.1 - - [23/Oct/2023 19:35:53] "GET / HTTP/1.1" 500 -
127.0.0.1 - - [23/Oct/2023 19:36:16] "GET /year?year=1975 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:36:45] "GET /all HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:36:48] "GET /yearsearch?beg=1970&end=2030 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:36:51] "GET /alluniquecountry HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:36:51] "GET /all HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:36:55] "GET /year?year=1975 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:37:06] "GET /year?year=1979 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:41:01] "GET /alluniquecountry HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:41:01] "GET /all HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:41:41] "GET /year?year=1975 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:41:55] "GET /carriertypesearch?carriertype=boeing HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:42:02] "GET /carriertypesearch?carriertype=airbus HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:42:04] "GET /countrysearch?country=VE HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:42:11] "GET /countrysearch?country=US HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:42:38] "GET /all HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:50:19] "GET /all HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:50:33] "GET /yearsearch?beg=1970&end=2030 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:50:41] "GET /yearsearch?beg=1980&end=1990 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:50:46] "GET /yearsearch?beg=1990&end=2000 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:50:53] "GET /alluniquecountry HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:50:53] "GET /all HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:51:20] "GET /countrysearch?country=DE HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:51:26] "GET /countrysearch?country=GB HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:51:33] "GET /year?year=1975 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2023 19:52:24] "GET /carriertypesearch?carriertype=boeing HTTP/1.1" 200 -