In [5]:
from selenium import webdriver

driver = webdriver.Chrome()

In [1]:
import pandas as pd

In [7]:
import pandas as pd
df = pd.read_csv('Resources/AviationAccidentsData.csv')
pd.set_option('display.max_colwidth', 400)
df.head()

,Unnamed: 0,acc. date,type,operator,fat.,location,dmg
0,0,5 Jan 1972,Douglas C-47B-20-DK Dakota 4MFP,McKenzie Air,0,"Norman Wells Airport, NT (YVQ)",sub
1,1,6 Jan 1972,Hawker Siddeley HS-748-230 Srs. 2A,SAESA - Servicios Aéreos Especiales SA,23,40 km NW of Chetumal,w/o
2,2,7 Jan 1972,Boeing 727-200,Pacific Southwest Airlines - PSA,0,Havana-José Martí International Airport (HAV),non
3,3,7 Jan 1972,Sud Aviation SE-210 Caravelle VI-R,Iberia,104,ca 15 km W of Ibiza Airport (IBZ),dst
4,4,7 Jan 1972,Convair CV-340-68B,Saudi Arabian Airlines,0,Jeddah International Airport,w/o

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11916 entries, 0 to 11915
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11916 non-null  int64
 1   acc. date   11916 non-null  object
 2   type        11916 non-null  object
 3   operator    11916 non-null  object
 4   fat.        11343 non-null  object
 5   location    11916 non-null  object
 6   dmg         11913 non-null  object
dtypes: int64(1), object(6)
memory usage: 651.8+ KB

In [6]:
df.dropna(subset = ['fat.'], inplace=True)

In [34]:
df8 = df7.replace('3+2','5')

       Unnamed: 0    acc. date                                      type  \
0               0   5 Jan 1972           Douglas C-47B-20-DK Dakota 4MFP
1               1   6 Jan 1972        Hawker Siddeley HS-748-230 Srs. 2A
2               2   7 Jan 1972                            Boeing 727-200
3               3   7 Jan 1972        Sud Aviation SE-210 Caravelle VI-R
4               4   7 Jan 1972                        Convair CV-340-68B
...           ...          ...                                       ...
11911       11911  23 Dec 2022  de Havilland Canada DHC-6 Twin Otter 300
11912       11912  26 Dec 2022                            Boeing 737-3Z0
11913       11913  27 Dec 2022                Embraer EMB-505 Phenom 300
11914       11914  30 Dec 2022           Canadair CL-600S Challenger 600
11915       11915  31 Dec 2022                 Cessna 208B Grand Caravan

                                     operator fat.  \
0                                McKenzie Air    0
1      SAESA - Servicios Aéreos Especiales SA   23
2            Pacific Southwest Airlines - PSA    0
3                                      Iberia  104
4                      Saudi Arabian Airlines    0
...                                       ...  ...
11911                              Rimbun Air    0
11912                          Tarco Aviation    0
11913                         Skystallion LLC    0
11914                                 private    2
11915                            BAR Aviation    0

                                              location  dmg
0                       Norman Wells Airport, NT (YVQ)  sub
1                                 40 km NW of Chetumal  w/o
2        Havana-José Martí International Airport (HAV)  non
3                    ca 15 km W of Ibiza Airport (IBZ)  dst
4                         Jeddah International Airport  w/o
...                                                ...  ...
11911                          Moanemani Airport (ONI)  sub
11912  Mogadishu Aden Adde International Airport (MGQ)  sub
11913                      Hawthorne Airport, CA (HHR)  sub
11914                                      near Venado  dst
11915                                    Mweya Airport  w/o

[11343 rows x 7 columns]

In [56]:
df9 = df8.replace(['7+20', '20+7', '0+1', '12+1', '43+2', '2+1', '0+68', '3+1', '2+2',
       '5+11', '11+5', '6+8', '2+7', '0+3', '3+6', '0+7', '0+6', '6+26',
       '0+13', '12+2', '7+2', '1+3', '25+1', '6+5', '61+1', '0+5', '45+1',
       '18+52', '52+18', '113+63', '63+113', '1+4', '3+88', '52+19',
       '8+1', '248+335', '335+248', '63+9', '14+15', '15+14', '2+3',
       '16+2', '4+2', '15+17', '135+9', '77+1', '1+32', '271+2', '84+94',
       '94+84', '72+1', '3+3', '6+2', '5+3', '0+2', '13+2', '31+6',
       '33+7', '74+4', '145+8', '0+11', '4+1', '8+9', '5+4', '42+51',
       '51+42', '3+22', '1+18', '18+1', '15+2', '4+49', '174+4', '4+9',
       '9+4', '5+5', '15+79', '79+15', '134+1', '1+1', '2+4', '20+5',
       '64+18', '8+2', '6+1', '5+44', '154+2', '9+8', '44+2', '259+11',
       '0+4', '5+2', '0+8', '75+4', '126+24', '4+3', '1+2', '3+24',
       '21+4', '46+82', '82+46', '12+22', '22+12', '13+14', '14+13',
       '133+2', '5+12', '4+4', '46+6', '24+4', '4+39', '6+7', '7+6',
       '10+3', '131+2', '5+1', '124+1', '4+5', '0+23', '3+5', '0+237',
       '4+18', '4+23', '95+4', '37+312', '312+37', '9+24', '24+9',
       '23+45', '196+7', '21+1', '14+1', '6+3', '70+10', '11+13', '18+3',
       '63+2', '42+7', '55+5', '109+4', '8+6', '19+1', '64+125', '65+900',
       '92+1600', '4+110', '110+8', '260+5', '73+30', '3+4', '2+69',
       '69+2', '6+6', '6+9', '5+10', '20+13', '53+2', '100+49', '94+12',
       '0+154', '3+7', '187+12', '21+28', '2+6', '3+37', '9+7', '49+1',
       '97+2', '8+3', '9+14', '0+10', '153+6', '7+4', '7+25', '122+17',
       '11+3', '4+35', '1+5', '5+14', '21+6', '97+1', '50+3'], ['27', '27', '1', '13', '45', '3', '68', '4', '4',
       '16', '16', '14', '9', '3', '9', '7', '6', '32',
       '13', '14', '9', '4', '26', '11', '67', '5', '46',
       '70', '70', '176', '176', '5', '91', '71',
       '9', '583', '583', '72', '29', '29', '5',
       '18', '6', '32', '144', '78', '33', '273', '178',
       '178', '73', '6', '8', '8', '2', '15', '31+6',
       '33+7', '74+4', '145+8', '0+11', '4+1', '17', '9', '83',
       '83', '25', '19', '19', '17', '53', '178', '13',
       '13', '10', '94', '94', '135', '2', '6', '25',
       '82', '10', '7', '49', '156', '17', '46', '270',
       '4', '7', '8', '79', '150', '7', '3', '27',
       '25', '128', '128', '34', '34', '27', '27',
       '135', '17', '8', '52', '28', '43', '13', '13',
       '13', '133', '6', '125', '9', '23', '8', '237',
       '22', '27', '99', '339', '339', '33', '33',
       '68', '203', '22', '15', '9', '80', '24', '21',
       '66', '49', '60', '113', '14', '20', '189', '965',
       '1692', '114', '119', '265', '103', '7', '71',
       '71', '12', '15', '15', '33', '55', '149', '106',
       '154', '10', '199', '49', '8', '40', '16', '50',
       '99', '11', '23', '10', '159', '11', '32', '139',
       '14', '39', '6', '19', '27', '98', '53'])

In [64]:
df10 = df9.replace(['San Fernando, BA','Düsseldorf International Airport (DUS)','ca 0,5 km S of Abu Dhabi-Bateen Airport (AZI)'],['0','0','0'])

In [61]:
df11 = df10[df10["fat."].str.contains("\+")]
df11['fat.'].unique()

array([], dtype=object)

In [65]:
df11['fat.'].unique()

array(['0', '23', '104', '9', '20', '39', '1', '27', '2', '6', '19', '5',
       '17', '112', '4', '30', '14', '25', '18', '43', '3', '11', '115',
       '8', '33', '122', '22', '32', '86', '81', '12', '118', '7', '13',
       '10', '38', '156', '28', '34', '102', '31', '109', '174', '29',
       '37', '60', '35', '61', '155', '26', '45', '40', '101', '176',
       '66', '108', '79', '68', '58', '16', '63', '48', '123', '78', '88',
       '85', '56', '42', '24', '41', '51', '106', '97', '346', '36', '15',
       '107', '44', '47', '72', '75', '59', '92', '191', '52', '138',
       '113', '188', '21', '126', '67', '111', '46', '76', '70', '154',
       '73', '95', '91', '50', '71', '90', '77', '583', '131', '100',
       '213', '144', '183', '57', '273', '178', '257', '128', '87', '55',
       '146', '166', '301', '89', '110', '80', '99', '180', '53', '137',
       '132', '153', '119', '269', '130', '181', '83', '49', '148', '94',
       '329', '200', '135', '520', '256', '167', '54', '82', '103', '159',
       '143', '290', '133', '270', '150', '170', '98', '223', '261', '69',
       '84', '141', '157', '116', '125', '264', '160', '65', '62', '237',
       '189', '230', '339', '228', '234', '74', '203', '229', '217',
       '169', '145', '965', '1692', '114', '265', '129', '225', '275',
       '105', '121', '149', '117', '96', '199', '152', '168', '158',
       '127', '239', '298', '162', '139', '224'], dtype=object)

In [66]:
df11["fat."] = pd.to_numeric(df11["fat."])

In [68]:
Aviation_Accident_df = df11.loc[df11["fat."] >= 50]

In [69]:
print(len(Aviation_Accident_df))

383

In [70]:
Aviation_Accident_df.head()

,Unnamed: 0,acc. date,type,operator,fat.,location,dmg
3,3,7 Jan 1972,Sud Aviation SE-210 Caravelle VI-R,Iberia,104,ca 15 km W of Ibiza Airport (IBZ),dst
56,56,14 Mar 1972,Sud Aviation SE-210 Caravelle 10B3,Sterling Airways,112,ca 20 km W of Kalba,dst
109,109,5 May 1972,Douglas DC-8-43,Alitalia,115,5 km SW of Palermo,dst
124,124,18 May 1972,Antonov An-10A,Aeroflot / Ukraine,122,24 km from Kharkov Airport (HRK),dst
148,148,14 Jun 1972,Douglas DC-8-53,Japan Air Lines - JAL,86,ca 20 km E of Delhi-Palam Airport (DEL),dst

In [76]:
from pathlib import Path 
filepath = Path('Resources/Aviation_Accident.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
Aviation_Accident_df.to_csv(filepath,index=False)